body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    width: 400px;
}

h1 {
    text-align: center;
}

.box {
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.result {
    margin-top: 10px;
    padding: 8px;
    border-radius: 6px;
}

.pass {
    background: rgba(34,197,94,0.2);
}

.fail {
    background: rgba(239,68,68,0.2);
}